
<h1>Administration</h1>
<h2>secret tunnelllllll</h2>

<p>Goddess Powers!Rawr!!</p>

<h3>ADD new post:</h3>

<form action='/posts' method='POST'>
  <input type='text' name='title' placeholder='post title here'\>
  <input type='text' name='author' placeholder='author name'\>
  <input type='text' name='date_added' placeholder='mm/dd/yyyy'\>
  
  <input type='text' name='content' placeholder='Post content'\>
  <input type='submit' value='submit'\>
</form>
<br>

---- OR ----

<h3>Individual Post Editing</h3>

<p>Edit the post title, author or content here</p>

<p>link to the Table of posts_edit.erb</p>

<p><a href="/posts/edit">Go to Table posts _edit page</a></p>
<br>

