<!doctype html>
<html>
  <head>
    <nav>
    <button onclick="history.back()">Go Back</button>
    <a href='/'>&lt; home</a>
    </nav>
    <title>Boring Blog of Blogginess</title>
  </head>
  <body>
    
    <img src="\images\c_serra_pic1.png">
    <h1>Boring Blog of Blogginess</h1>
    
    <!-- This is where the page contents gets inserted -->
    <%= yield %>
  
  </body>

  <footer>
  <p>Footer: The Wilt</p>
  </footer>
</html>