
<h1> <%= @post[:title] %> </h1>

<div action='/' method='get' width='100%'>

  <p>
    <%= @post[:author] %>
  </p>

    <p>
    <%= @post[:date_added] %>
  </p>

  <p>
    <%= @post[:content] %>
  </p>
</div>

<a href="/admin">SECRET TUNNELLLLLLLL!!!!!</a>